&#publications {
  overflow-y: auto;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @include responsive(tablet-portrait) {
      grid-template-columns: 1fr;
    }

    @include responsive(phone) {
      z-index: -10000;
      grid-template-columns: 1fr;
    }

    @include responsive(tablet-landscape-desktop) {
      grid-template-columns: 1fr 1fr;
    }

    li {
      background-color: darken($bg-color, 10%);
      padding: 1.25rem;
      border: 1px solid darken($bg-color, 15%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      opacity: 0;
      animation-name: showUp;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: calc(var(--delay) * 100ms);
      animation-fill-mode: forwards;
      p {
        margin: 0;
        width: 100%;
      }
      h3 {
        font-size: 1.15rem;
        margin: 0.35rem 0;
      }
      p.date {
        font-size: 0.75rem;
        color: #bbb;
        text-transform: uppercase;
        margin: 0.25rem 0;
      }
      p.desc {
        font-size: 1rem;
        margin: 0.25rem 0;
        color: #888;
        flex-grow: 1;
      }
      a {
        display: inline-block;
        color: $link-color;
        margin: 0.25rem 0;
        text-transform: uppercase;
        font-size: 0.9rem;
      }
    }
  }

  @include responsive(tablet-portrait) {
    > div {
      > h2,
      > p {
        text-align: left;
      }
      > p {
        width: 100%;
      }
    }
  }

  @include responsive(phone) {
    > div {
      > h2,
      > p {
        z-index: -10000;
        text-align: left;
      }
      h2 {
        font-size: 2.5rem;
        text-align: center;
      }
      > p {
        z-index: -10000;
        width: 100%;
      }
    }
  }
}
